<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新しいレストラン</title>
</head>
<body>
  <header><a href="/">メイン</a></header>
  <h1>current restaurants</h1>
  <!-- <ul>
    <% for (let i = 0; i < restaurants.length; i++) {%>
      <li>
        <%= restaurants[i] %>
      </li>
    <% } %>
  </ul> -->

  <h1>add restaurants</h1>
  <form action="/addRestaurant/newRestaurant"></form>
</body>
</html>