<%- include('partials/header') -%>

  <h2 class="mb-4 p-2 text-lg font-semibold">このリストから選んでください！</h2>
  <ul class="p-3">
    <% for (let restaurant of choice) { %>
    <li>
      <p><%= restaurant.name %>, <%= restaurant.area %></p>
    </li>
  <% } %>
  </ul>
  <a href="/" class="text-red-700">違う食べ物食べたい</a>

  <%- include('partials/footer') -%>